# IDE
.idea/
*.swp
*.swo
*~
.DS_Store

# Prerequisites
*.d

# Build directories
build/
cmake-build-*/
out/

# CMake generované súbory
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Object files
*.o
*.obj
*.so
*.dylib
*.dll

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug information files
*.dwo

# Logs
*.log

# Core dumps
core
core.*
vgcore.*